SAP IS Oil and Gas Training
SAP IS-OIL is an industrial solution developed by SAP for the oil and gas industry (SAP IS-OIL), featuring tools and automated processes designed especially for this sector. SAP IS OIL lets you revolutionise your operations, outplay the competition, and ensure compliance by leveraging leading-edge technology – from in-memory computing to analytics, mobility, and cloud – to help you maximize performance and minimize costs. SAP IS OIL and GAS Online training ensures professionals have the proper credentials to perform the functions they are assigned. SAP for Oil & Gas is a solution that is tailor-made to the special requirements of companies in the oil and gas industry. SAP IS-OIL enables the complex business processes of these industries to be mapped in SAP Advanced Planner and Optimizer, SAP for Oil & Gas provides additional functions which allow the below requirements to be met.
Course OverviewTarget AudienceWhy choose usTrainer Profile
1. Introduction to my SAP ERP

2. SAP Oil & Gas Overview

Introduction to DownstreamTWS OverviewService RetailingProductionUpstream Graphics
3. Master Data Settings

Basic SettingsMaster Data Creation
4. Oil & Gas Upstream

PRA – Production and Revenue Accounting overview and its graphical user Introduction.
OwnershipUpstream GraphicsProductionMeasurement SystemContractual AllocationProduct ControlValuationCheck InputPayment ProcessingCheck WriteAccounts ReceivableJournal EntryContracts and PricingTax ReportingProduction sharing Accounts
Set-up & Master DataConfigurationMaster Data AssignmentsPlanningPSA Periodic ProcessingJoint venture Accounting
Accounting PrinciplesMaster DataIntegrationDay-to-Day ProcessesData EntryOperated AccountingReporting
5. SAP Oil & Gas (RLM – Remote Logistics Management)

Basic Customizing Settings for RLMSupply ChainRLM Goods ReceiptRLM ShippingHoldingReturnsMaterial Tracking in RLM
6. SAP Oil & Gas ( IS – Oil Downstream )

Integration of SAP Oil & Gas with SAP CRMHPM – Liquid and Gaseous Hydrocarbon Product ManagementTDP – Tariffs, Duties and PermitsExchangesTransportation and DistributionMarketing, Accounting and PricingService Station Retailing
7. SAP Oil & Gas with GIS/CAD Integration basic settings:

Notifications of GIS MappingR/3 or BI integration with GISAssets & Operations conceptsGIS Performance -BO
